@import './src/utilities/variables';

.StickyCTA {
	position: fixed;
	bottom: 0;
	left: 1rem;
	display: flex;
	padding: 1rem 2rem 2.1rem;
	width: calc(100% - 2rem);
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	background: tomato;
	box-sizing: border-box;
	justify-content: space-between;
	backdrop-filter: blur(1em);
	z-index: 99;

	.calendarIcon,
	.dayTime {
		span {
			display: block;
		}
	}

	.calendarIcon {
		height: 4.1rem;
		width: 4rem;
		background: blue;
		border-radius: 1rem;
	}
}

@media (max-width: 800px) {
}
