@import './src/utilities/variables';

.boton {
	font-size: 16px;
	font-family: Montserrat;
	text-transform: uppercase;
	color: white;
	background: $accent;
	border: none;
	font-weight: 600;
	line-height: 20px;
	border-radius: $borderRadius;
	outline: none;
	cursor: pointer;
	transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
	padding: 16px 20px;
}

.boton:hover {
	background: darken($accent, 8%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	transform: translateY(-1px);
}
