// colors
$backgroundLight: #f2f7f5;
$link: #5e6f96;
$text: #4d4d66;
$hover: $text;
$accent: #eb493d;
$border: #d1dbef;

$borderRadius: 0.5rem;

@mixin small-caps {
	text-transform: uppercase;
	letter-spacing: 0.25ch;
	font-weight: 900;
}
