.TopArea {
	margin: 0px 50px 0px 50px;
	padding-top: 75px;
	display: flex;

	.MainCall {
		flex: 1;
		padding-top: 115px;
		padding-left: 75px;
		padding-right: 75px;
		font-size: 16px;
		color: #5e6f96;
	}

	.MainCall h1 {
		font-family: Jost;
		font-size: 3.25rem;
		font-weight: 600;
		color: #4d4d66;
	}

	.MainCall p {
		font-size: 19px;
		margin-top: -16px;
		color: #5e6f96;
	}
	@media (max-width: 800px) {
		display: block;
		text-align: center;
		padding-top: 24px;

		.MainCall {
			flex: 1;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	@media (max-width: 410px) {
		margin: 0px 16px 0px 16px;
		padding-top: 24px;
		display: flex;
		display: block;
		text-align: center;

		.MainCall {
			flex: 1;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.MainCall h1 {
			font-size: 2.5rem;
		}
	}
}
