.Illustration {
	width: 45%;

	@media (max-width: 800px) {
		width: 100%;
	}
	.waves path {
		animation: waves 4s infinite;
		opacity: 0;
	}

	.birds path {
		animation: birds 6s infinite;
	}

	.clouds path {
		animation: clouds 12s infinite;
		fill: #fff;
	}

	.foreground path {
		animation: sparkle 2s infinite;
		fill: #fff;
	}

	@for $i from 1 through 4 {
		.birds > path {
			&:nth-child(#{$i}) {
				animation-delay: 2s + ($i * (1s));
			}
		}
	}

	@for $i from 1 through 8 {
		.foreground > path {
			&:nth-child(#{$i}) {
				animation-delay: 0.5s + ($i * (1s / 4));
			}
		}
	}
	@for $i from 1 through 4 {
		.clouds > path {
			&:nth-child(#{$i}) {
				animation-delay: 3s + ($i * (2s));
			}
		}
	}
	@for $i from 1 through 8 {
		.waves > path {
			&:nth-child(#{$i}) {
				animation-delay: 2s + ($i * (1s / 4));
			}
		}
	}
}

@keyframes waves {
	0% {
		transform: translateX(0px);
		opacity: 0;
	}
	33% {
		transform: translateX(40px);
		opacity: 1;
	}
	100% {
		transform: translateX(0px);
		opacity: 0;
	}
}

@keyframes sparkle {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes clouds {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(80px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes birds {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translate(10px, 100px);
	}
	100% {
		transform: translateY(0px);
	}
}
