@import url('https://fonts.googleapis.com/css?family=Jost');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: Montserrat, -apple-system, 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: #F2F4F7;
  color: #5E6F96;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

p {
  font-size: 16px;
}

a {
  color: #5E6F96;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #4D4D66;
}

.Hero {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background: url('../images/wallpaper3.jpg'); */
  background-color: white;
  height: auto;
  background-size: cover;
  background-position: center;
}

.TopArea {
  margin: 0px 50px 0px 50px;
  padding-top: 75px;
  display: flex;
}

.Illustration {    
  width: 45%;
}

.MainCall {
  flex: 1;
  padding-top: 115px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 16px;
  color: #5E6F96;
}

p {color: black}

.boton {
  font-size: 16px;
  font-family: Montserrat;
  text-transform: uppercase;
  color: white;
  background: #EB493D;
  border: none;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  padding: 16px 20px;
  margin-top: 16px;
}

.boton:hover {
  background: #D73E33;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

.MainCall h1 {
  font-family: Jost;
  font-size: 3.25rem;
  font-weight: 600;
  color: #4D4D66;
}

.MainCall p {
  font-size: 19px;
  margin-top: -16px;
  color: #5E6F96;
}

.highlight {
  font-size: 19px;
  color: #5E6F96;
}


.break1 {
  margin-left: 50px;
}

.break1 span {
  flex: 1;
  width: 75%;
  background-color: #d1dbef;
  height: 1px;
  display: block;
  margin-top: -50px;
  margin-left: 100px;
}

.b1-leaves {
  width: 82px;
}


.History {
  margin: 0px 250px 50px 150px;
  padding-top: 75px;
  padding-bottom: 50px;
}

.History p {
  /* column-count: 2;
  column-gap: 150px; */
  z-index: 2;
}


h2 {
  font-size: 26px;
  font-family: Jost;
  font-weight: 500;
  margin-bottom: 30px;  
}

.underline {
  width: 30px;
  background-color: #EB493D;
  position: absolute;
  height: 2px;
  display: block;
  margin-top: -24px;
}


.break2 {
  margin-left: 100px;
  /* display: flex; */
}

.break2 span {
  width: 65%;
  background-color: #d1dbef;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 60px;
  margin-left: 50px;
}

.b2-leaves {
  width: 126px;
  margin-right: 250px;
  margin-left: auto;
  position: relative;
}

.Place {
  margin: 0px 250px 50px 150px;
  /* padding-top: 75px; */
  padding-bottom: 50px;
  line-height: normal;
}


.LeafLeft {
  width: 190px;
  position: absolute;
  margin-top: -190px;
  z-index: 1;
}

.LeafRight {
  float: right;
  width: 160px;
  margin-top: -160px;
}

.bold {
  font-weight: 600;
}

.tile {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  flex: 1;
}

.text {
  width: 60%;
}

.map {
  padding-top: 24px;
  padding-left: 24px;
  max-width: 250px;
}

.sixth {
  max-width: 15%;
}

.calendario {
  width: 142px;
  height: auto;
  margin-right: 200px;
  padding-bottom: 40px;
}

.our-trip-sm {
  display: none;
}

.correct-margin {
  margin-top: 0;
}



@media (max-width: 800px) {

  .Hero {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .TopArea {
    display: block;
    text-align: center;
    padding-top: 24px;
  }

  .MainCall {
    flex: 1;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .Illustration {    
    width: 100%;
  }

  .History {
    margin: 0px 50px 50px 50px;
    padding-top: 75px;
    padding-bottom: 0px;
  }

  .History p {
    column-count: 1;
  }

  .break1 {
    margin-left: 20px;
    margin-top: 50px;
  }

  .break1 span {
    width: 65%;
    margin-left: 75px;
  }

  .b1-leaves {
    width: 70px;
  }

  .break2 {
    margin-left: 100px;
  }

  .break2 span {
    width: 70%;
    margin-top: 30px;
  }
  
  .b2-leaves {
    width: 70px;
    margin-right: 100px;
  }

  .LeafLeft {
    width: 100px;
    margin-top: -120px;
  }
  
  .LeafRight {
    width: 100px;
    margin-top: -85px;
  }

  .Place {
    margin: 0px 50px 50px 50px;
    padding-bottom: 50px;
    line-height: normal;
  }

  .sixth {
    max-width: 100%;
  }

  .calendario {
    width: 142px;
    height: auto;
    margin-right: 100px;
    padding-bottom: 40px;
  }

}


@media (max-width: 410px) {

  .Hero {
    width: 96%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .TopArea {
    margin: 0px 16px 0px 16px;
    padding-top: 24px;
    display: flex;
  }

  .MainCall {
    flex: 1;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .MainCall h1 {
    font-size: 2.5rem;
  }

  .TopArea {
    display: block;
    text-align: center;
  }

  .Illustration {    
    width: 100%;
  }

  .History {
    margin: 0px 16px 0px 16px;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  .History p {
    column-count: 1;
  }

  .break1 {
    display: none;
  }
  .break2 {
    display: none;
  }

  .LeafLeft {
    width: 100px;
    opacity: 0.5;
  }
  
  .LeafRight {
    width: 50px;
    margin-top: 40px;
  }

  .Place {
    margin: 0px 60px 50px 16px;
    padding-top: 75px;
    padding-bottom: 50px;
    line-height: normal;
  }

  .tile {
    display: block;
  }

  .text {
    width: 100%;
  }

  .map {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px 0px 0px;
  }

  .sixth {
    max-width: 100%;
  }

  .calendario {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  
  .our-trip {
    display: none;
  }

  .our-trip-sm {
    display: block;
  }

}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
