@import url('https://fonts.googleapis.com/css?family=Jost');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: Montserrat, -apple-system, 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: #F2F4F7;
  color: #5E6F96;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

p {
  font-size: 16px;
}

a {
  color: #5E6F96;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #4D4D66;
}

.Hero {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background: url('../images/wallpaper3.jpg'); */
  background-color: white;
  height: auto;
  background-size: cover;
  background-position: center;
}

.TopArea {
  margin: 0px 50px 0px 50px;
  padding-top: 75px;
  display: flex;
}

.Illustration {    
  width: 45%;
}

.MainCall {
  flex: 1;
  padding-top: 115px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 16px;
  color: #5E6F96;
}

p {color: black}

.boton {
  font-size: 16px;
  font-family: Montserrat;
  text-transform: uppercase;
  color: white;
  background: #EB493D;
  border: none;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  padding: 16px 20px;
  margin-top: 16px;
}

.boton:hover {
  background: #D73E33;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

.MainCall h1 {
  font-family: Jost;
  font-size: 3.25rem;
  font-weight: 600;
  color: #4D4D66;
}

.MainCall p {
  font-size: 19px;
  margin-top: -16px;
  color: #5E6F96;
}

.highlight {
  font-size: 19px;
  color: #5E6F96;
}


.break1 {
  margin-left: 50px;
}

.break1 span {
  flex: 1;
  width: 75%;
  background-color: #d1dbef;
  height: 1px;
  display: block;
  margin-top: -50px;
  margin-left: 100px;
}

.b1-leaves {
  width: 82px;
}


.History {
  margin: 0px 250px 50px 150px;
  padding-top: 75px;
  padding-bottom: 50px;
}

.History p {
  /* column-count: 2;
  column-gap: 150px; */
  z-index: 2;
}


h2 {
  font-size: 26px;
  font-family: Jost;
  font-weight: 500;
  margin-bottom: 30px;  
}

.underline {
  width: 30px;
  background-color: #EB493D;
  position: absolute;
  height: 2px;
  display: block;
  margin-top: -24px;
}


.break2 {
  margin-left: 100px;
  /* display: flex; */
}

.break2 span {
  width: 65%;
  background-color: #d1dbef;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 60px;
  margin-left: 50px;
}

.b2-leaves {
  width: 126px;
  margin-right: 250px;
  margin-left: auto;
  position: relative;
}

.Place {
  margin: 0px 250px 50px 150px;
  /* padding-top: 75px; */
  padding-bottom: 50px;
  line-height: normal;
}


.LeafLeft {
  width: 190px;
  position: absolute;
  margin-top: -190px;
  z-index: 1;
}

.LeafRight {
  float: right;
  width: 160px;
  margin-top: -160px;
}

.bold {
  font-weight: 600;
}

.tile {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  flex: 1;
}

.text {
  width: 60%;
}

.map {
  max-width: 250px;
}

.third {
  max-width: 30%;
}

.sixth {
  max-width: 15%;
}

.calendario {
  width: 142px;
  height: auto;
  margin-right: 200px;
}


@media (max-width: 768px) {

  .Hero {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .TopArea {
    display: block;
    text-align: center;
    padding-top: 24px;
  }

  .MainCall {
    flex: 1;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .Illustration {    
    width: 100%;
  }

  .History {
    margin: 0px 50px 50px 50px;
    padding-top: 75px;
    padding-bottom: 0px;
  }

  .History p {
    column-count: 1;
  }

  .break1 {
    margin-left: 20px;
    margin-top: 50px;
  }

  .break1 span {
    width: 65%;
    margin-left: 75px;
  }

  .b1-leaves {
    width: 70px;
  }

  .break2 {
    margin-left: 100px;
  }

  .break2 span {
    width: 70%;
    margin-top: 30px;
  }
  
  .b2-leaves {
    width: 70px;
    margin-right: 100px;
  }

  .LeafLeft {
    width: 100px;
    margin-top: -120px;
  }
  
  .LeafRight {
    width: 100px;
    margin-top: -85px;
  }

  .Place {
    margin: 0px 50px 50px 50px;
    padding-bottom: 50px;
    line-height: normal;
  }
  
}


@media (max-width: 410px) {

  .Hero {
    width: 96%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .TopArea {
    margin: 0px 16px 0px 16px;
    padding-top: 24px;
    display: flex;
  }

  .MainCall {
    flex: 1;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .MainCall h1 {
    font-size: 2.5rem;
  }

  .TopArea {
    display: block;
    text-align: center;
  }

  .Illustration {    
    width: 100%;
  }

  .History {
    margin: 0px 16px 0px 16px;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  .History p {
    column-count: 1;
  }

  .break1 {
    display: none;
  }
  .break2 {
    display: none;
  }

  .LeafLeft {
    width: 100px;
    opacity: 0.5;
  }
  
  .LeafRight {
    width: 50px;
    margin-top: 40px;
  }

  .Place {
    margin: 0px 60px 50px 16px;
    padding-top: 75px;
    padding-bottom: 50px;
    line-height: normal;
  }
  
}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

/* 
.cls-1,.cls-40,.cls-48,.cls-56,.cls-62 {fill: none;}
.cls-2{fill:#f2f4f7;}
.cls-3{clip-path:url(#clip-path);}
.cls-4{fill:#eff1f4;}
.cls-5{fill:#eaecef;}
.cls-6{fill:#e2e4e8;}
.cls-27,.cls-32,.cls-33,.cls-34,.cls-63,.cls-64,.cls-65,.cls-7,.cls-8{fill:#fff;}
.cls-8{opacity:0.54;}
.cls-9{fill:#9292b7;}
.cls-10{clip-path:url(#clip-path-2);}
.cls-11{fill:#8989ad;}
.cls-12{fill:#8c8caf;}
.cls-13{fill:#8a8aaa;}
.cls-14{fill:#8686a8;}
.cls-15{fill:#7f7fa5;}
.cls-16{fill:#5e6f96;}
.cls-17{fill:#354b66;}
.cls-18{fill:#415675;}
.cls-19{fill:#495e7f;}
.cls-20{fill:#54678c;}
.cls-21{fill:#627499;}
.cls-22{fill:#687ca0;}
.cls-23,.cls-24,.cls-25,.cls-26,.cls-35,.cls-66{fill:#677691;}
.cls-24,.cls-29{opacity:0.46;}
.cls-25{opacity:0.58;}
.cls-26{opacity:0.36;}
.cls-27,.cls-47{opacity:0.37;}
.cls-28,.cls-29,.cls-30,.cls-31,.cls-44,.cls-47{fill:#8793b2;}
.cls-30{opacity:0.47;}
.cls-31,.cls-32,.cls-66{opacity:0.35;}
.cls-33{opacity:0.44;}
.cls-34{opacity:0.66;}
.cls-35{opacity:0.55;}
.cls-36,.cls-37{fill:#4d4d66;}
.cls-36{opacity:0.27;}
.cls-38{fill:#e0e0e9;}
.cls-39{fill:#bdbdd1;}
.cls-40,.cls-56{stroke:#fff;}
.cls-40,.cls-48,.cls-56,.cls-62{stroke-miterlimit:10;}
.cls-40{stroke-width:5px;}
.cls-41{fill:#6e6e83;}
.cls-42{fill:#f1f2f5;}
.cls-43{fill:#a6a6bc;}
.cls-44{opacity:0.14;}
.cls-45{fill:#cdd5e8;}
.cls-46{clip-path:url(#clip-path-4);}
.cls-48{stroke:#6e6e83;}
.cls-48,.cls-56{stroke-width:2px;}
.cls-49{fill:#ea493d;}
.cls-50{clip-path:url(#clip-path-5);}
.cls-51,.cls-64{opacity:0.39;}
.cls-52{clip-path:url(#clip-path-6);}
.cls-53,.cls-55,.cls-58,.cls-60{fill:#23232d;}
.cls-53{opacity:0.5;}
.cls-54{clip-path:url(#clip-path-7);}
.cls-55{opacity:0.2;}
.cls-57{clip-path:url(#clip-path-8);}
.cls-58{opacity:0.31;}
.cls-59{clip-path:url(#clip-path-9);}
.cls-60{opacity:0.26;}
.cls-61{clip-path:url(#clip-path-10);}
.cls-62{stroke:#bdbdd1;stroke-width:3px;}
.cls-63{opacity:0.51;}
.cls-65{opacity:0.33;}
 */
